# ---> NetBeans
.env
.idea
.vscode/
apps/nuxt-app/.env
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
docker-deploy/docker-compose.yml
docker-deploy/.env
docker-latest/docker-compose.yml
docker-latest/.env
