# We're using version 3.7 of the Docker Compose file format
version: "3.7"

# Define services/containers
services:
  # MySQL container
  mysqlmicrojobs:
    # Use mysql:latest image (8.x)
    image: mysql:8.0.34
    # Data folder
    volumes:
      - /home/rustmod/microjobs/docker-microjobs/mysql-data/:/var/lib/mysql
    #  - /home/rustmod/microjobs/docker-microjobs/custom.cnf:/etc/my.cnf.d/custom.cnf
    # Connect to "drfoxg-net" network, as defined below
    networks:
      - jobs-net
    # Pass a list of environment variables to the container
    environment:
      MYSQL_ROOT_PASSWORD:
      TZ: Europe/Moscow

  # phpMyAdmin container
  phpmyadmin:
    # Use phpmyadmin/phpmyadmin:latest image
    image: phpmyadmin/phpmyadmin:latest
    # Connect to "drfoxg-net" network, as defined below
    networks:
      - jobs-net
    # Map port 8082 on the host to port 80 inside the container
    # Syntax is: "HOST_PORT:CONTAINER_PORT"
    ports:
      - "8077:80"
    # Pass a list of environment variables to the container
    environment:
      PMA_HOST: mysqlmicrojobs
      UPLOAD_LIMIT: 256M
      MAX_EXECUTION_TIME: 3000
    # Wait for "mysql" container to start first
    depends_on:
      - mysqlmicrojobs
      
  # laravel v9
  microjobs:
    image: drfoxg/microjobs
    build:
      context: ../docker-microjobs
    volumes:
      - /home/rustmod/microjobs/docker-microjobs/www/:/var/www/microjobs
    networks:
      - jobs-net
    ports:
      - "9777:80"
    cap_add:
       - ALL
    environment:
       XDEBUG_CLIENT_HOST: ${XDEBUG_CLIENT_HOST}
       DOCKER_UID: ${DOCKER_UID}
       SERVER_NAME: ${SERVER_NAME}
       DEV_SERVER_NAME: ${DEV_SERVER_NAME}
       INNODB_BUFFER_POOL_SIZE: ${INNODB_BUFFER_POOL_SIZE}
       INNODB_LOG_BUFFER_SIZE: ${INNODB_LOG_BUFFER_SIZE}
       #XDEBUG_CONFIG: remote_host=192.168.1.90

# Define networks
networks:
  jobs-net:
